.q1{
    background-image: url(https://nft-tailwind.preview.uideck.com/images/hero/common-bg.jpg);
color: white;
}
.navbar-brand {
    color: white;
}
.nav-link{
    color: white;
    font-weight: 600;
    font-size: 17px;
    margin-left: 20px;
}

.q2{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 8px 20px 8px 20px;
    font-size: 17px;
    font-weight: 700;
}
.container{
    padding-top: 13px;
}
.nav-item{
    margin-left: 33px;
}
.q3{
    margin-top: 10px;

    margin-right: 15px;

}
.q4{
    font-weight: 700;
    font-size: 45px;
}
.q5{
    color: #A1A0AE;
    font-size: 19px;
}
.q6{
    color: white;
    text-decoration: none;
    border: 1px solid #4B3EE7;
    padding: 13px 25px 13px 25px;
    font-size: 17px;
    font-weight: 700;
    background-color: #4B3EE7;
    border-radius: 10px;
}

.q7{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 12px 25px 12px 25px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: -100px;
}
.q10{
    background-color: #141420;
    
    margin-top: -121px;
}
.q11{
    border-top: 3px solid #2C2C37;
}
.card{
    background-color: #2C2C39;
    color: white;
}
.btn{
    margin-left: 19px;
    padding: 3px 90px 3px 88px;
    background-color: #42424D;
    border: 2px solid #42424D;
    border-radius: 10px;
}
.q12{
    border-top:  3px solid #2C2C37;
}
.q13{
    text-decoration: none;
    color: white;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding: 10px 20px;
        background-color: #141420;
        border: 2px solid white;
        border-radius: 12px;
}
.q14{
    font-weight: 700;
    color: white;
    font-size: 55px;
    padding-top: 40px;
}
.q15{
    color: #A09FAD;
    font-size: 16px;
    font-weight: 600;
}
.q17{
    background-color: #2C2C39;
    color: white;
    padding-bottom: 25px;
    border: 2px solid #42424D;
    border-radius: 15px;
}
.q16{
    background-color: #FFF0E9;
    display: inline;
    border-radius: 50%;
    padding: 25px;
}
.q20{
    margin-left: 30px;
    padding-top: 55px;
}
.q18{
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
}
.q19{
    margin-left: 25px;
    color: #A09FAD;
}
.q25{
    background-color: #FFF6DD;
    display: inline;
    border-radius: 50%;
    padding: 25px;

}
.q26{
    background-color: #EDF8F4;
    display: inline;
    border-radius: 50%;
    padding: 25px;

}